.footer{
    background-color: $light-gray;
    padding: 10px 0;
    &__nav{
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        width: 100%;
    }

}
